<% include ./partials/header %>
<% include ./util/geturl %>

<h1>Crisis</h1>

<% data.forEach(crisis => { %>
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
		<tr class="table-active">
			<td>Crisis ID:</td>
			<td>Date: </td>
			<td>Last Update: </td>
			<td>Crisis Code:</td>
			<td>Casualty Size: </td>
		</tr>
		</thead>
		<tbody>
		<%if(crisis.crisisCode == "YELLOW"){%>
				<tr class="table-warning">
		<%}else if(crisis.crisisCode == "RED"){%>
				<tr class="table-danger">
		<%}else{%>
				<tr class="table-success">
		<%}%>
			<td><%= crisis.id %></td>
			<td><%= crisis.date %></td>
			<td><%= crisis.time %></td>
			<td><%= crisis.crisisCode %></td>
			<td><%= crisis.casualtySize %></td>
		</tr>
		</tbody>

	</table>
</div>

<h3>Update Crisis</h3>
<div class="container">
	<div class="row">
		<div class="col-6">
			<div class="form-group">
				<legend class="col-form-label">Crisis Code: </legend>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="crisis_code" id="crisis_code1" value="RED" >
					<label class="form-check-label" for="crisis_code1">
						RED
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="crisis_code" id="crisis_code2" value="YELLOW" >
					<label class="form-check-label" for="crisis_code2">
						YELLOW
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="crisis_code" id="crisis_code3" value="GREEN" >
					<label class="form-check-label" for="crisis_code3">
						GREEN
					</label>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="form-group">
				<label for="casualty_size">Casualty Size: </label>
				<input type="number" class="form-control mb-3" id="casualty_size" value="<%= crisis.casualtySize %>">
			</div>
			<button onclick="updateCrisisStatus('<%= crisis.id %>')" class="btn btn-primary float-right">Update Crisis Status</button>
		</div>
	</div>
</div>

<h3>Enemies</h3>
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
		<tr class="table-active">
			<td>Enemy Name: </td>
			<td>Type: </td>
			<td>Size: </td>
			<td>Coordinates: </td>
			<td>Affected Area: </td>
			<td>Update: </td>
		</tr>
		</thead>
		<tbody>
        <%
		var i = 0;
		crisis.Enemy.forEach(enemy => {
		%>
        <tr>
            <td><img src ="<%= getZombieImgUrl(enemy.enemyName)%>" /><br /><%= enemy.enemyName %></td>
			<td class="align-middle"><%= enemy.enemyType %></td>
			<td class="align-middle">
				<input type="number" class="form-control mb-3" id="enemy_size<%= i %>" value="<%= enemy.enemySize %>">
			</td>
			<td class="align-middle">
				Latitude: <input type="number" class="form-control mb-3" id="enemy_x<%= i %>" value="<%= enemy.coordinateX %>">
				Longtitude: <input type="number" class="form-control mb-3" id="enemy_y<%= i %>" value="<%= enemy.coordinateY %>">
			</td>
			<td class="align-middle">
				<input type="number" class="form-control mb-3" id="enemy_area<%= i %>" value="<%= enemy.affectArea %>">
			</td>
			<td class="align-middle">
				<button onclick="updateEnemy('<%= crisis.id %>','<%= enemy.enemyName %>','<%= enemy.enemyType %>','<%= i %>')" class="btn btn-primary float-right">Update Details</button>
			</td>
		</tr>
        <%i++;}); %>
		</tbody>
	</table>
</div>

<h3>Add Enemy</h3>
<div class="form-group">
	<label for="enemy_name">Enemy Name: </label>
	<select class="form-control" id="enemy_name" >
		<option>Balloon Zombie</option>
		<option>BucketHead Zombie</option>
		<option>BackupDancer Zombie</option>
		<option>Dolphin Rider Zombie</option>
		<option>Ducky Tube Zombie</option>
		<option>Gargantuar Zombie</option>
		<option>Ladder Zombie</option>
		<option>Snorkel Zombie</option>
	</select>
</div>
<div class="form-group">
	<label for="enemy_size">Enemy Size:</label>
	<input type="number" class="form-control mb-3" id="enemy_size">
</div>
<div class="form-group">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<label for="enemy_x">Latitude: </label>
				<input type="number" class="form-control mb-3" id="enemy_x">
			</div>
			<div class="col-6">
				<label for="enemy_y">Longtitude:</label>
				<input type="number" class="form-control mb-3" id="enemy_y">
			</div>
			<div class="col-6">
				<label for="enemy_area">Affected Area:</label>
				<input type="number" class="form-control mb-3" id="enemy_area">
			</div>
		</div>
	</div>
	<button onclick="addEnemy('<%= crisis.id %>')" class="btn btn-primary float-right mb-3">Add Enemy</button>
</div>

<%}); %>

<% include ./partials/footer %>