<% include ./partials/header %>

<h1>Crisis</h1>

<% data.forEach(crisis => { %>
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
		<tr class="table-active">
			<td>Crisis ID:</td>
			<td>Date: </td>
			<td>Time: </td>
			<td>Crisis Code:</td>
			<td>Casualty Size: </td>
		</tr>
		</thead>
		<tbody>
		<%if(crisis.crisisCode == "YELLOW"){%>
				<tr class="table-warning">
		<%}else if(crisis.crisisCode == "RED"){%>
				<tr class="table-danger">
		<%}else{%>
				<tr class="table-success">
		<%}%>
			<td><%= crisis.id %></td>
			<td><%= crisis.date %></td>
			<td><%= crisis.time %></td>
			<td><%= crisis.crisisCode %></td>
			<td><%= crisis.casualtySize %></td>
		</tr>
		</tbody>

	</table>
</div>

<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
		<tr class="table-active">
			<td>Enemy: </td>
			<td>Type: </td>
			<td>Size: </td>
			<td>Coordinates: </td>
			<td>Affected Area: </td>
		</tr>
		</thead>
		<tbody>
        <% crisis.Enemy.forEach(enemy => { %>
        <tr>
			<td>
				<% if (enemy.enemyName == "Normal Zombie"){ %>
				<img src="./images/unit_icon/zombie_normal.png">
				<% }else if(enemy.enemyName == "Balloon Zombie"){%>
				<img src="./images/unit_icon/zombie_balloon.png">
				<% }else if(enemy.enemyName == "BucketHead Zombie"){%>
				<img src="./images/unit_icon/zombie_buckethead.png">
				<% }else if(enemy.enemyName == "BackupDancer Zombie"){%>
				<img src="./images/unit_icon/zombie_dancer.png">
				<% }else if(enemy.enemyName == "Dolphin Rider Zombie"){%>
				<img src="./images/unit_icon/zombie_dolphinrider.png">
				<% }else if(enemy.enemyName == "Ducky Tube Zombie"){%>
				<img src="./images/unit_icon/zombie_duckytube.png">
				<% }else if(enemy.enemyName == "Gargantuar Zombie"){%>
				<img src="./images/unit_icon/zombie_gargantuar.png">
				<% }else if(enemy.enemyName == "Ladder Zombie"){%>
				<img src="./images/unit_icon/zombie_ladder.png">
				<% }else if(enemy.enemyName == "Snorkel Zombie"){%>
				<img src="./images/unit_icon/zombie_snorkel.png">
				<%}%>
			<%= enemy.enemyName %></td>
			<td class="align-middle"><%= enemy.enemyType %></td>
			<td class="align-middle"><%= enemy.enemySize %></td>
			<td class="align-middle">(<%= enemy.coordinateX %>, <%= enemy.coordinateY %>)</td>
			<td class="align-middle"><%= enemy.affectArea %></td>
		</tr>
        <%}); %>
		</tbody>
	</table>
</div>
<%}); %>

<% include ./partials/footer %>