<% include ./partials/header %>
<% include ./util/geturl %>

<% 
	if (data[0] != null) {
		data.forEach(crisis => { 
%>
<div class="row">
	<div class="status animated fadeInDown">	
		<div class="row">
			<div class="col-lg-10 col-md-8">
				<h1>	
					Crisis
					<% if (String(crisis.crisisCode).toUpperCase() == 'GREEN') { %>
						<span class="badge badge-secondary green"><%= crisis.id %></span>
					<% } else if (String(crisis.crisisCode).toUpperCase() == 'YELLOW') { %>
						<span class="badge badge-secondary yellow"><%= crisis.id %></span>
					<% } else if (String(crisis.crisisCode).toUpperCase() == 'ORANGE') { %>
						<span class="badge badge-secondary orange"><%= crisis.id %></span>					
					<% } else if (String(crisis.crisisCode).toUpperCase() == 'RED') { %>
						<span class="badge badge-danger"><%= crisis.id %></span>
					<% } %>
				</h1>		
			</div>
			<div class="col-auto">
				<%= crisis.date %><br>
				<%= crisis.time %>
			</div>		
		</div>			
		<div class="row">
			<div class="col-lg-10 col-md-8">
				<button type="button" class="btn btn-secondary" onclick="closeCrisis('<%= crisis.id %>')">Close Crisis</button>			
			</div>			
		</div>
	</div>	
</div>

<div class="row animated fadeInUpBig">
	<div class="col">		
		<div class="card">
			<div class="card-header">
				<h3>Update Crisis</h3>				
			</div>			
			<div class="card-body">
				<div class="form-row">
					<div class="col-6">					
						<label for="no_of_injuries">No of Injuries</label>
						<input type="number" class="form-control mb-3" id="no_of_injuries" value="<%= crisis.noOfInjuries %>">
					</div>
					<div class="col-6">			
						<label for="no_of_deaths">No of Deaths</label>
						<input type="number" class="form-control mb-3" id="no_of_deaths" value="<%= crisis.noOfDeaths %>">
					</div>
				</div>
				<button onclick="updateCrisisStatus('<%= crisis.id %>')" class="btn btn-primary float-right">Update Crisis Status</button>
			</div>
		</div>
	</div>
</div>

<div class="row animated fadeInUpBig">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<h3>Enemies</h3>
			</div>
			<div class="card-body">
			<%
				let i = 0;
				crisis.Enemy.forEach(enemy => {
			%>
				<div class="row">
					<div class="col-lg-3">
						<%= enemy.enemyName %> <span class="badge badge-secondary"><%= enemy.enemyType %></span><br><img src="<%= getZombieImgUrl(enemy.enemyName)%>" width="100" />
					</div>
					<div class="col-lg-2">
						<div class="row">
							<div class="col-auto">
								Enemy Size<input type="number" class="form-control mb-3" id="enemy_size<%= i %>" value="<%= enemy.enemySize %>">
								Lat<input type="number" class="form-control mb-3" id="enemy_x<%= i %>" value="<%= enemy.coordinateX %>">
							</div>							
						</div>
					</div>
					<div class="col-lg-2">
						<div class="row">
							<div class="col-auto">
								Affected Area<input type="number" class="form-control mb-3" id="enemy_area<%= i %>" value="<%= enemy.affectArea %>">
								Long<input type="number" class="form-control mb-3" id="enemy_y<%= i %>" value="<%= enemy.coordinateY %>">
							</div>
						</div>
					</div>									
				</div><br>
				<div class="row">					
					<div class="col-lg-2 col-sm-6">
						<button onclick="deleteEnemy('<%= crisis.id %>','<%= enemy.enemyName %>')" class="btn btn-primary btn-block mb-3">Delete Enemy</button>
					</div>
					<div class="col-lg-2 col-sm-6">
						<button onclick="updateEnemy('<%= crisis.id %>','<%= enemy.enemyName %>','<%= enemy.enemyType %>','<%= i %>')" class="btn btn-primary mb-3 btn-block">Update Details</button>
					</div>
				</div>		
				<hr>	
			<% i++;}); %>
			</div>
		</div>
	</div>
</div>

<div class="row animated fadeInUpBig">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<h3>Add Enemy</h3>		
			</div>
			<div class="card-body">
				<div class="form-row">
					<div class="col-lg-4">					
						<label for="enemy_name">Enemy Name</label>
						<select class="form-control" id="enemy_name">
							<option>Balloon Zombie</option>
							<option>BucketHead Zombie</option>
							<option>Dolphin Rider Zombie</option>
							<option>Ducky Tube Zombie</option>
							<option>Gargantuar Zombie</option>
							<option>Normal Zombie</option>
							<option>Snorkel Zombie</option>
						</select>
					</div>
					<div class="col-lg-2 col-sm-4">			
						<label for="enemy_size">Enemy Size</label>
						<input type="number" class="form-control mb-3" id="enemy_size">
					</div>
					<div class="col-lg-2 col-sm-4">			
						<label for="enemy_area">Affected Area</label>
						<input type="number" class="form-control mb-3" id="enemy_area">
					</div>	
					<div class="col-lg-2 col-sm-4">			
						<label for="enemy_x">Latitude</label>
						<input type="number" class="form-control mb-3" id="enemy_x">
					</div>
					<div class="col-lg-2 col-sm-4">			
						<label for="enemy_y">Longtitude</label>
						<input type="number" class="form-control mb-3" id="enemy_y">
					</div>									
				</div>				
				<button onclick="addEnemy('<%= crisis.id %>')" class="btn btn-primary float-right">Add Enemy</button>
			</div>				
		</div>	
	</div>
</div>
<% 
		}); 
	} else {
%>
<div class="row">
	<div class="status animated fadeInDown">	
		<div class="row">
			<div class="col-lg-10 col-md-8">
				<h1>	
					Crisis
				</h1>		
			</div>	
		</div>
	</div>	
</div>

<div class="row animated fadeInUpBig">
	<div class="col">		
		<div class="card">
			<div class="card-header">
				<h3>No Crisis</h3>				
			</div>			
			<div class="card-body">
				<div class="form-row">
					<div class="col-6">					
						<h5>No enemy available...</h5>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>
<% } %>

<% include ./partials/footer %>