<% include ./partials/header %>
<% include ./util/geturl %>

<h1>Crisis</h1>

<% data.forEach(crisis => { %>
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
		<tr class="table-active">
			<td>Crisis ID:</td>
			<td>Date: </td>
			<td>Time: </td>
			<td>Crisis Code:</td>
			<td>Casualty Size: </td>
		</tr>
		</thead>
		<tbody>
		<%if(crisis.crisisCode == "YELLOW"){%>
				<tr class="table-warning">
		<%}else if(crisis.crisisCode == "RED"){%>
				<tr class="table-danger">
		<%}else{%>
				<tr class="table-success">
		<%}%>
			<td><%= crisis.id %></td>
			<td><%= crisis.date %></td>
			<td><%= crisis.time %></td>
			<td><%= crisis.crisisCode %></td>
			<td><%= crisis.casualtySize %></td>
		</tr>
		</tbody>

	</table>
</div>

<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
		<tr class="table-active">
			<td>Enemy: </td>
			<td>Type: </td>
			<td>Size: </td>
			<td>Coordinates: </td>
			<td>Affected Area: </td>
		</tr>
		</thead>
		<tbody>
        <% crisis.Enemy.forEach(enemy => { %>
        <tr>
            <td><img src ="<%= getZombieImgUrl(enemy.enemyName)%>" /><%= enemy.enemyName %></td>
			<td class="align-middle"><%= enemy.enemyType %></td>
			<td class="align-middle"><%= enemy.enemySize %></td>
			<td class="align-middle">(<%= enemy.coordinateX %>, <%= enemy.coordinateY %>)</td>
			<td class="align-middle"><%= enemy.affectArea %></td>
		</tr>
        <%}); %>
		</tbody>
	</table>
</div>
<%}); %>

<% include ./partials/footer %>