<% include ./partials/header %>
<% include ./util/geturl %>

<br>
<h1>Deployment Plan</h1>

<% data.forEach(deploymentplan => {
    var borderStyle = "border-success";
    var textStyle = "text-success";
	if(deploymentplan.crisisCode == "YELLOW"){
		borderStyle = "border-warning";
		textStyle = "text-warning";
	}else if(deploymentplan.crisisCode == "RED"){
		borderStyle = "border-danger";
		textStyle = "text-danger";
	}%>
<div class="card <%= borderStyle%> mb-3">
	<h5 class="card-header <%= textStyle%>">Deployment Plan: <%= deploymentplan.id %></h5>
	<div class="card-body">
		<p class="card-text">Date: <%= deploymentplan.date %></p>
		<p class="card-text">Time: <%= deploymentplan.time %></p>
		<p class="card-text <%= textStyle%>">Crisis Code: <%= deploymentplan.crisisCode %></p>
		<p class="card-text">No of Injuries: <%= deploymentplan.noOfInjuries %></p>
        <p class="card-text">No of Deaths: <%= deploymentplan.noOfDeaths %></p>
        <p class="card-text">Suggested Land Troops: <%= deploymentplan.landTroops %></p>
        <p class="card-text">Suggested Sea Troops: <%= deploymentplan.seaTroops %></p>
        <p class="card-text">Suggested Air Troops: <%= deploymentplan.airTroops %></p>
        <p class="card-text">Budget: <%= deploymentplan.budget %></p>
        <p class="card-text">Mission Type: <%= deploymentplan.missionType %></p>

		<div class="container">
            <div class="row">
                <% deploymentplan.Enemy.forEach(enemy => {%>
                <div class="col-sm-12 col-md-6">
                    <div class="card mb-3">
                        <h6 class="card-header"><%= enemy.enemyName %></h6>
                        <div class="card-body">
                            <div class="media">
                                <img class="align-self-center" src="<%= getZombieImgUrl(enemy.enemyName)%>"/>
                                <div class="media-body" style="margin-left: 30px;">
                                    <p class="card-text">Type: <%= enemy.enemyType %></p>
                                    <p class="card-text">Size: <%= enemy.enemySize %></p>
                                    <p class="card-text">Coordinate: (<%= enemy.coordinateX %>, <%= enemy.coordinateY %>)</p>
                                    <p class="card-text">Affect Area: <%= enemy.affectArea %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%});%>
            </div>
		</div>
        <!-- to be tested again
        <form action="/api/ef/updatecrisis/<%= deploymentplan.id %>" method="POST" >
            <div class="form-group float-right">
                <button type="submit" class="btn btn-primary">Update Crisis</button>
            </div>
        </form>
        -->
        <div class="form-group float-right">
            <button onclick="updateCrisisWithPlan('<%= deploymentplan.id %>')" class="btn btn-primary">Update Crisis</button>
        </div>

	</div>
</div>
<% });%>


<% include ./partials/footer %>