<% include ./partials/header %>
<% include ./util/geturl %>

<div class="row">
	<div class="status animated fadeInDown">	
		<div class="row">
			<div class="col-10">
				<h1>Deployment Plan</h1>
			</div>	
		</div>			
	</div>	
</div>

<% data.forEach(deploymentplan => { %>
   <div class="row animated fadeInUpBig">
        <div class="col">		
            <div class="card">
                <div class="card-header">                    
                    <div class="row">
                        <div class="col-lg-10">
                            <h3>
                                Plan
                                <% if (String(deploymentplan.crisisCode).toUpperCase() == 'GREEN') { %>
                                    <span class="badge badge-secondary green"><%= deploymentplan.id %></span>
                                <% } else if (String(deploymentplan.crisisCode).toUpperCase() == 'YELLOW') { %>
                                    <span class="badge badge-secondary yellow"><%= deploymentplan.id %></span>
                                <% } else if (String(deploymentplan.crisisCode).toUpperCase() == 'RED') { %>
                                    <span class="badge badge-danger"><%= deploymentplan.id %></span>
                                <% } %>                                
                            </h3>
                            <span class="badge badge-info"><%= deploymentplan.missionType %></span>
                            <span class="badge badge-info">$<%= deploymentplan.budget %></span>
                        </div>
                        <div class="col-auto">
                            <%= deploymentplan.date %><br>
                            <%= deploymentplan.time %>
                        </div>	
                    </div>			
                </div>			
                <div class="card-body">                    
                    <div class="row">
                        <div class="col-lg-4">
                            <h5>
                                Casualty
                                <button type="button" class="btn btn-secondary">
                                    Injuries <span class="badge badge-light"><label class="unit-label"><%= deploymentplan.noOfInjuries %></label></span>
                                </button>
                                <button type="button" class="btn btn-dark">
                                    Deaths <span class="badge badge-light"><label class="unit-label"><%= deploymentplan.noOfDeaths %></label></span>
                                </button>
                            </h5>
                        </div>
                        <div class="col-lg-6">
                            <h5>
                                Suggested Troops
                                <button type="button" class="btn btn-secondary" style="background-color: #AAAAAA; border-color: #AAAAAA;">
                                    Air <span class="badge badge-light"><label class="unit-label"><%= deploymentplan.airTroops %></label></span>
                                </button>
                                <button type="button" class="btn btn-success">
                                    Land <span class="badge badge-light"><label class="unit-label"><%= deploymentplan.landTroops %></label></span>
                                </button>
                                <button type="button" class="btn btn-primary">
                                    Sea <span class="badge badge-light"><label class="unit-label"><%= deploymentplan.seaTroops %></label></span>
                                </button>                                
                            </h5>
                        </div>
                    </div>                                                       
                </div>
            </div>
        </div>
    </div>
<% });%>


<% include ./partials/footer %>