<% include ./partials/header %>
<% include ./util/geturl %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<div class="row">
	<% if (data.Crisis != null) { %>
	<div class="status animated fadeInDown">	
		<% data.Crisis.forEach(crisis => { %>	
		<div class="row">			
			<div class="col-lg-6">
				<h1>
					Current Status
					<div class="btn-group btn-group-toggle" id="requested" data-toggle="buttons">
						<% if (!data.DeploymentUnitStatus.backup && !data.DeploymentUnitStatus.cleanup) { %>
							<label class="btn btn-secondary active" id="option0">
								<input type="radio" name="options" id="option0" value="0" autocomplete="off" checked> None
							</label>
							<label class="btn btn-secondary" id="option1">
								<input type="radio" name="options" id="option1" value="1" autocomplete="off"> Backup
							</label>
							<label class="btn btn-secondary" id="option2">
								<input type="radio" name="options" id="option2" value="2" autocomplete="off"> Cleanup
							</label>
						<% } else if (data.DeploymentUnitStatus.backup && !data.DeploymentUnitStatus.cleanup) { %>
							<label class="btn btn-secondary" id="option0">
								<input type="radio" name="options" id="option0" value="0" autocomplete="off"> None
							</label>
							<label class="btn btn-secondary active" id="option1">
								<input type="radio" name="options" id="option1" value="1" autocomplete="off" checked> Backup
							</label>
							<label class="btn btn-secondary" id="option2">
								<input type="radio" name="options" id="option2" value="2" autocomplete="off"> Cleanup
							</label>
						<% } else if (!data.DeploymentUnitStatus.backup && data.DeploymentUnitStatus.cleanup) { %>
							<label class="btn btn-secondary" id="option0">
								<input type="radio" name="options" id="option0" value="0" autocomplete="off"> None
							</label>
							<label class="btn btn-secondary" id="option1">
								<input type="radio" name="options" id="option1" value="1" autocomplete="off"> Backup
							</label>
							<label class="btn btn-secondary active" id="option2">
								<input type="radio" name="options" id="option2" value="2" autocomplete="off" checked> Cleanup
							</label>
						<% } %>
					</div>
				</h1>				
			</div>			
		</div>	
		<div class="row">
			<div class="col-lg-10 col-md-8">
				<button type="button" class="btn btn-primary" onclick="sendStatusUpdate()">Send Status Update</button>			
			</div>			
		</div>
		<% }); %>	
	</div>	
	<% } else { %>
		<div class="status animated fadeInDown">		
			<div class="row">			
				<div class="col-lg-6">
					<h1>Current Status</h1>				
				</div>			
			</div>	
		</div>	
	<% } %>
</div>

<% if (data.Crisis != null) { %>
<div class="card mb-3 animated fadeInUpBig">
	<div class="card-header">		
		<div class="row">
			<div class="col-lg-8">
				<h3>
					Current Map Status
				</h3>				
			</div>					
		</div>			
	</div>	
	<div class="card-body">		
		<div class="row">
			<div class="col-lg-9">
				<div class="mapholder">
					<div id="map"></div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="users"></div>
			</div>
		</div>
	</div>
</div>

<div class="card mb-3 animated fadeInUpBig">
	<div class="card-header">
		<% data.Crisis.forEach(crisis => { %>	
		<div class="row">
			<div class="col-lg-8">
				<h3>
					Code 													
					<% if (String(crisis.crisisCode).toUpperCase() == 'GREEN') { %>
						<span class="badge badge-secondary green"><%= crisis.crisisCode %></span>
					<% } else if (String(crisis.crisisCode).toUpperCase() == 'YELLOW') { %>
						<span class="badge badge-secondary yellow"><%= crisis.crisisCode %></span>
					<% } else if (String(crisis.crisisCode).toUpperCase() == 'ORANGE') { %>
						<span class="badge badge-secondary orange"><%= crisis.crisisCode %></span>
					<% } else if (String(crisis.crisisCode).toUpperCase() == 'RED') { %>
						<span class="badge badge-danger"><%= crisis.crisisCode %></span>
					<% } %>		
					<span class="badge badge-info">$<%= data.DeploymentUnitCost.totalCost %></span>
				</h3>				
			</div>
			<div class="col-auto">
				<h3>
					<button type="button" class="btn btn-secondary">
						Injuries <span class="badge badge-light"><label class="unit-label"><%= crisis.noOfInjuries %></label></span>
					</button>
					<button type="button" class="btn btn-dark">
						Deaths <span class="badge badge-light"><label class="unit-label"><%= crisis.noOfDeaths %></label></span>
					</button>
				</h3>
			</div>						
		</div>	
		<% }); %>			
	</div>	
	<div class="card-body">		
		<div class="row">
			<% if (data.DeploymentUnit != null) { %>
			<div class="col-md-6">
				<canvas id="myDoughnutChart" width="100" height="100"></canvas>
			</div>
			<% } %>
			<div class="col-md-6">
				<canvas id="myDoughnutChart2" width="100" height="100"></canvas>
			</div>
		</div>
	</div>
</div>
<% } else { %>
	<div class="card mb-3 animated fadeInUpBig">
	<div class="card-header">
		
		<div class="row">
			<div class="col-lg-8">
				<h3>
					No crisis								
				</h3>				
			</div>	
		</div>				
	</div>	
	<div class="card-body">
		<div class="row">
			<div class="col-md-6">
				<h5>No deployment unit and enemy</h5>
			</div>
		</div>
	</div>
</div>
<% } %>

<script>	
	let enemyMarkerArr = [];
	let troopMarkerArr = [];
	let socket = io();

	<% if (data.DeploymentUnit != null) { %>	
	socket.emit('user', '<%= user %>');
	socket.on('reinitialize user', msg => {
		if (msg) {
			socket.emit('reinitialize user', '<%= user %>');
		}					
	});

	socket.on('get users', users => {
		$(".users").empty();		
		$(".users").append(`<h5 class="users-header">Online Users: ${users.length}</h5>
							<div class="userlist"></div>`);
		
		users.forEach(user => {			
			$(".userlist").append(`<p class="user"><i class="fas fa-user"></i>&nbsp ${user}</p>`);
		});
	});

	socket.on('coordinate changed', msg => {		
		if (msg.type === 'ENEMY') {
			enemyMarkerArr.forEach(marker => {
				if (marker.id === msg.id) {				
					marker.setPosition(msg.coordinate);									
					showNotification('warning', 'Enemy Coordinate Updated');					
				}
			});
		} else if (msg.type === 'TROOP') {
			troopMarkerArr.forEach(marker => {
				if (marker.id === msg.id) {				
					marker.setPosition(msg.coordinate);									
					showNotification('warning', 'Troop Coordinate Updated');
				}
			});
		}
	});

	socket.on('deployment unit status', msg => {					
		if (msg === 1) {			
			showNotification('warning', 'Backup is requested');
		} else if (msg === 2) {
			showNotification('warning', 'Cleanup is requested');
		}
		setTimeout(() => {
			window.location.reload(true);
		}, 1500);
	});

	function smoothZoom (map, max, cnt) {
		if (cnt >= max) {
			return;
		}
		else {
			z = google.maps.event.addListener(map, 'zoom_changed', function(event){
				google.maps.event.removeListener(z);
				smoothZoom(map, max, cnt + 1);
			});
			setTimeout(function(){map.setZoom(cnt)}, 80);
		}
	}  

	async function initMap() {
		let centerOfSingapore = {lat: 1.3521, lng: 103.8198};

		let map = new google.maps.Map(document.getElementById('map'), {
			zoom: 11,
			center: centerOfSingapore
		});		

		await <% data.Crisis.forEach(crisis => { 
			crisis.Enemy.forEach((enemy, i) => { %>
				window.setTimeout(function() {
					let coordinate = {lat: <%= enemy.coordinateX %>, lng: <%= enemy.coordinateY %>};					
					let iconImage = {
						url: '<%= getZombieImgUrl(enemy.enemyName) %>', // url
						scaledSize: new google.maps.Size(40 + 1 * (<%= enemy.enemySize %> - 1), 70 + 1 * (<%= enemy.enemySize %> - 1)), // scaled size
					};

					let marker = new google.maps.Marker({
						icon: iconImage,
						id: `<%= enemy.enemyName %>`.toUpperCase().replace(/\s/g, ''),
						position: coordinate,
						map: map,
						draggable: true,
						animation: google.maps.Animation.DROP,
						title: `<%= enemy.enemyName %> (<%= enemy.enemySize %>)`
					});

					let infowindow = new google.maps.InfoWindow({
						content: `<h6><%= enemy.enemyName %> <span class="badge badge-secondary"><%= enemy.enemyType %></span></h6>
									<p>Enemy Size: <%= enemy.enemySize %></p>`
					});

					marker.addListener('click', function() {
						infowindow.open(map, marker);
					});

					marker.addListener('rightclick', function() {						
						map = marker.getMap();	
						map.setCenter(coordinate);
						smoothZoom(map, 19, map.getZoom());						
					});

					let affectAreaCircle = new google.maps.Circle({
						strokeColor: '#FF0000',
						strokeOpacity: 0.8,
						strokeWeight: 2,
						fillColor: '#FF0000',
						fillOpacity: 0.35,
						map: map,
						center: coordinate,
						radius: <%= enemy.affectArea %>
					});					

					marker.bindTo('position', affectAreaCircle, 'center');

					marker.addListener('dragstart', function(e) {
						if (marker.getDraggable()) {
							socket.emit('lock enemy marker', marker.id);
						} else {
							showNotification('danger', 'Others are editing');
						}											
					});					

					marker.addListener('dragend', function(e) {
						let latLng = e.latLng;
						let target = `./api/statusupdate/crisis/<%= crisis.id %>/<%= enemy.enemyName %>/updatecoordinate`;
						let coordinate = { lat: latLng.lat(), lng: latLng.lng() };

						$.ajax({
							url: target,
							type: 'PUT',
							data: { coordinate_x: latLng.lat(), coordinate_y: latLng.lng() },
							success: function(msg) {            
								if (msg.success) {
									markerMsg = {										
										'id': marker.id,
										'type': 'ENEMY',
										'coordinate': coordinate
									};

									socket.emit('coordinate changed', markerMsg);	
									socket.emit('release enemy marker', marker.id);

									//to check return message to confirm successful
									showNotification('success', msg.message);
								} else {
									showNotification('danger', msg.message);
								}            
							},
							error: function() {
								showNotification('danger', 'Update Failed');
							}
						});
					});

					enemyMarkerArr.push(marker);
				}, <%= i %>*1000);
			<% }); %>										
		<% }); %>

		socket.on('lock enemy marker', msg => {
			enemyMarkerArr.forEach(marker => {
				if (marker.id === msg) {									
					marker.setDraggable(false);
				}
			});
		});

		socket.on('release enemy marker', msg => {
			enemyMarkerArr.forEach(marker => {
				if (marker.id === msg) {
					marker.setDraggable(true);
				}
			});
		});
		
		await <% data.DeploymentUnit.forEach((deploymentunit, i) => { %>
			window.setTimeout(function() {
				let coordinate = {lat:<%= deploymentunit.coordinateX %>, lng: <%= deploymentunit.coordinateY %>};
				let iconImage = {
					url: '<%= getPlantImgUrl(deploymentunit.unitName) %>', // url
					scaledSize: new google.maps.Size(50 + 1 * (<%= deploymentunit.currentUnitSize %> - 1), 50 + 1 * (<%= deploymentunit.currentUnitSize %> - 1)), // scaled size
				};

				let marker = new google.maps.Marker({
					icon: iconImage,
					id: `<%= deploymentunit.unitName %>`.toUpperCase().replace(/\s/g, ''),
					position: coordinate,
					draggable: true,
					map: map,
					animation: google.maps.Animation.DROP,
					title: `<%= deploymentunit.unitName %> (<%= deploymentunit.currentUnitSize %>)`
				});

				let infowindow = new google.maps.InfoWindow({
					content: `<h6><%= deploymentunit.unitName %> <span class="badge badge-secondary"><%= deploymentunit.unitType %></span></h6>
								<p>Current Unit Size: <%= deploymentunit.currentUnitSize %></p>`
				});

				marker.addListener('click', function() {						
					infowindow.open(map, marker);
				});

				marker.addListener('rightclick', function() {
					map = marker.getMap();
					map.setCenter(coordinate);
					smoothZoom(map, 19, map.getZoom());						
				});

				marker.addListener('dragstart', function(e) {
					if (marker.getDraggable()) {
						socket.emit('lock troop marker', marker.id);
					} else {
						showNotification('danger', 'Others are editing');
					}										
				});				
		
				marker.addListener('dragend', function(e) {
					let latLng = e.latLng;
					let target = `./api/ordergenerator/deploymentunit/<%= deploymentunit.unitName %>/updatecoordinate`;
					let coordinate = { lat: latLng.lat(), lng: latLng.lng() };

					$.ajax({
						url: target,
						type: 'PUT',
						data: { coordinate_x: latLng.lat(), coordinate_y: latLng.lng() },
						success: function(msg) {            
							if (msg.success) {
								markerMsg = {										
									'id': marker.id,
									'type': 'TROOP',
									'coordinate': coordinate
								};

								socket.emit('coordinate changed', markerMsg);
								socket.emit('release troop marker', marker.id);

								//to check return message to confirm successful
								showNotification('success', msg.message);
							} else {
								showNotification('danger', msg.message);
							}            
						},
						error: function() {
							showNotification('danger', 'Update Failed');
						}
					});
				});

				troopMarkerArr.push(marker);
			}, <%= i %>*1000);			
		<% }); %>

		socket.on('lock troop marker', msg => {
			troopMarkerArr.forEach(marker => {
				if (marker.id === msg) {									
					marker.setDraggable(false);
				}
			});
		});

		socket.on('release troop marker', msg => {
			troopMarkerArr.forEach(marker => {
				if (marker.id === msg) {
					marker.setDraggable(true);
				}
			});
		});	
	}

	var ctx = document.getElementById("myDoughnutChart");
	//Total Deployed Units
	var myLineChart = new Chart(ctx, {
	  type: 'doughnut',
	  data: {
			datasets: [
			{
					data: [
						<% data.DeploymentUnit.forEach(deploymentunit => { %>
						<%= deploymentunit.currentUnitSize + deploymentunit.unitCasualty%>,
						<% }); %>
					],
					backgroundColor: [
						<% data.DeploymentUnit.forEach(deploymentunit => { 
							if (String(deploymentunit.unitType).toUpperCase() === 'AIR') { %>
								"rgba(189, 195, 199, 0.7)",
							<% } else if (String(deploymentunit.unitType).toUpperCase() === 'SEA') { %>
								"rgba(68, 108, 179, 0.7)",
							<% } else if (String(deploymentunit.unitType).toUpperCase() === 'LAND') { %>								
								"rgba(27, 188, 155, 0.7)",
							<% } else if (String(deploymentunit.unitType).toUpperCase() === 'QUARANTINE') { %>								
								"rgba(247, 202, 24, 0.7)",
							<% } else if (String(deploymentunit.unitType).toUpperCase() === 'CLEANUP') { %>								
								"rgba(108, 122, 137, 0.7)",
							<% } %>
						<% }); %>
					],
					label: "Total Deployed"
			},						
		],
			labels: [
				<% data.DeploymentUnit.forEach(deploymentunit => { %>
				"<%= deploymentunit.unitName %>",
				<% }); %>
			]},
			options: {
				responsive: true,
				legend: {
					position: 'top',
				},
				title: {
					display: true,
					text: 'Total Deployed Units',
					fontSize: 25
				},
				animation: {
					animateScale: true,
					animateRotate: true
				}
			}
		}
	);
	
	<% 
	} 

	if (data.Crisis != null) { 		
	%>
	//Enemy Units
	var ctx = document.getElementById("myDoughnutChart2");
	var myLineChart = new Chart(ctx, {
	  type: 'doughnut',
	  data: {
			datasets: [{
					data: [
						<% data.Crisis.forEach(crisis => { %>
							<% crisis.Enemy.forEach(enemy => { %>
								<%= enemy.enemySize %>,
							<% }); %>
						<% }); %>
					],
					backgroundColor: [
						<% data.Crisis.forEach(crisis => { 
							crisis.Enemy.forEach(enemy => {
								if (String(enemy.enemyType).toUpperCase() === 'AIR') { %>
									"rgba(228, 241, 254, 0.7)",
								<% } else if (String(enemy.enemyType).toUpperCase() === 'SEA') { %>
									"rgba(68, 108, 179, 0.7)",
								<% } else if (String(enemy.enemyType).toUpperCase() === 'LAND') { %>								
									"rgba(27, 188, 155, 0.7)",
								<% } %>
							<% }); %>							
						<% }); %>
					],
					label: [
						<% data.Crisis.forEach(crisis => { %>
							<% crisis.Enemy.forEach(enemy => { %>
								"<%= enemy.enemyName %>",
							<% }); %>
						<% }); %>
					]
				}],
			labels: [
				<% data.Crisis.forEach(crisis => { %>
					<% crisis.Enemy.forEach(enemy => { %>
						"<%= enemy.enemyName %>",
					<% }); %>
				<% }); %>
			]},
			options: {
				responsive: true,
				legend: {
					position: 'top',
				},
				title: {
					display: true,
					text: 'Total Enemies',
					fontSize: 25
				},
				animation: {
					animateScale: true,
					animateRotate: true
				}
			}
		}
	);
	<% } %>	
</script>
<% if (data.DeploymentUnit != null) { %>	
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyIdfs0vc-3YxmgtoSgMGRhoeo8Xmd620&callback=initMap"></script>
<% } %>

<% include ./partials/footer %>