<% include ./partials/header %>

<br>
<%= data.DeploymentUnitStatus.backup %>
<%= data.DeploymentUnitStatus.cleanup %>

<% data.Crisis.forEach(crisis => { %>
	<% crisis.Enemy.forEach(enemy => { %>
		<%= enemy.affectArea %>
		<%= enemy.coordinateX %>
		<%= enemy.coordinateY %>
		<%= enemy.enemyName %>
		<%= enemy.enemySize %>
		<%= enemy.enemyType %>
	<% }); %>
	<%= crisis.casualtySize %>
	<%= crisis.crisisCode %>
	<%= crisis.date %>
	<%= crisis.time %>
<% }); %><br>

<% data.DeploymentUnit.forEach(deploymentunit => { %>
	Unit Name: <%= deploymentunit.unitName %>
	<ul>
		<li>Date: <%= deploymentunit.date %></li>
		<li>Time: <%= deploymentunit.time %></li>
		<li>Unit Type: <%= deploymentunit.unitType %></li>
		<li>Coordinate: (<%= deploymentunit.coordinateX %>, <%= deploymentunit.coordinateY %>)</li>
		<li>Current Unit Size: <%= deploymentunit.currentUnitSize %></li>
		<li>Unit Casualty: <%= deploymentunit.unitCasualty %></li>
		<li>Unit Status: <%= deploymentunit.unitStatus %></li>
	</ul>
<% }); %>

<button type="button" class="btn btn-primary">Send Status Update</button>

<% include ./partials/footer %>