<% include ./partials/header %>

<div class="row">
	<div class="status animated fadeInDown">	
		<div class="row">
			<div class="col-10">
				<h1>EF Units</h1>				
			</div>	
		</div>			
	</div>	
</div>

<div class="row unit-row">
<% 
	if (data[0] != null) {
		data.forEach(unit => { 
%>	
	<div class="col-lg-6 animated fadeInUpBig default">
		<div class="card unit-card">
			<div class="card-header">
				<div class="row">
					<div class="col-lg-8">
						<h3><%= unit.unitName %></h3>
					</div>
					<div class="col-lg-2">
						<button type="button" class="btn btn-secondary">
							Unit Size <span class="badge badge-light"><label class="unit-label"><%= unit.unitSize %></label></span>
						</button>
					</div>
					<div class="col-auto">
						<%= unit.date %><br>
						<%= unit.time %>
					</div>	
				</div>					
			</div>						

			<div class="card-body">
				<div class="form-group">
					<dl class="row">
						<dt class="col-sm-3">Unit Type:</dt>
						<dd class="col-sm-9"><%= unit.unitType %></dd>
						<dt class="col-sm-3">Unit Cost:</dt>
						<dd class="col-sm-9">$<%= unit.cost %></dd>
						<dt class="col-sm-3">Description:</dt>
						<dd class="col-sm-9"><%= unit.description %></dd>														
					</dl>
					<dl class="row">						
						<div class="input-group col-sm-12">								
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon3">
									<button type="button" onClick="deploy(this.id, '<%= unit.unitType %>')" class="btn btn-success" id="<%= unit.unitName %>">Deploy</button>
								</span>
							</div>
							<input type="number" class="form-control" id="<%= unit.unitName + 'Input' %>" aria-describedby="basic-addon3" placeholder="Number of Units">								
						</div>
					</dl>
				</div>
			</div>
		</div>
	</div>	
<% 
		}); 
	} else {
%>
	<div class="card animated fadeInUpBig">
		<div class="card-header">
			<div class="row">
				<div class="col-lg-8">
					<h3>No unit</h3>
				</div>	
			</div>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-lg-8">
					<h5>No unit available...</h5>
				</div>
			</div>				
		</div>
	</div>
<% } %>
</div>

<div class="container">	
	<div class="row">
		<div class="form-group col-12 col-md-6 border rounded hide animated" id="newDeploymentUnitForm">
			<h3><label id="unit_name"></label> <span class="badge badge-secondary"><label id="unit_type" class="unit-label"></label></span></h3>			

			<label for="coordinate_x">Coordinate X: </label>
			<input type="number" class="form-control mb-3" id="coordinate_x" value=1.3521>

			<label for="coordinate_y">Coordinate Y: </label>
			<input type="number" class="form-control mb-3" id="coordinate_y" value=103.8198>

			<button onclick="cancelDeploymentUnit()" class="btn mb-3">Cancel</button>
			<button onclick="addDeploymentUnit()" class="btn float-right btn-success mb-3">Deploy</button>			
		</div>
	</div>
</div>

<% include ./partials/footer %>